
{% extends 'shared/layout.html' %}

{% block extracss %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main/css/projects.css') }}">
{% endblock %}

{% block maincontent %}
    <!-- The entire edge-to-edge main section (applies main.css styling)-->
    <div id="whole_main">
        <br>
        <div class="proj_header">
            <h1>Below is a list of projects I worked on in CSE 477:</h1>
            <h5>Click an image or hyperlink in the description to learn more.</h5>
        </div>
        <br>
        <div class="grid">
            <div class="image">  <!--Image hyperlinked to main.html-->
                <a href="/piano">
                    <img src="../static/main/images/piano.jpeg" alt="image of a piano" class="piano_image" loading="lazy">
                </a>
            </div>
            <div class="description">  <!--Name and description of the project-->
                <h1 class="proj_description">JavaScript Piano</h1>
                <p class="proj_description">
                    Part of my first homework in CSE 477 was to create an
                    interactive piano using HTML, CSS, and JavaScript. It
                    is mobile-friendly and it has a neat hidden trick.
                    <a href="/piano">Click here</a> to see and play
                    my JavaScript Piano!
                </p>
            </div>
        </div>
        <br>
        <hr>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

{% endblock %}  {# maincontent #}













